{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page - Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url "create" %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Page Title:</label>
            {{ form.title }}
            {% for error in form.title.errors %}
                <div id="contentHelp" class="form-text text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="id_entry" class="form-label">Page Content:</label>
            {{ form.entry }}
            <div id="contentHelp" class="form-text">
                Please note that this wiki uses <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a> to style its pages, which is then converted to HTML when the page is visited.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}